%h1 Cowin Vaccine Availability Check
%br
%br
.row
  .col-md-12.order-md-1
    = form_tag('/cowin', method: :post, class: "needs-validation") do
      .row
        .col-md-4.mb-4
          .form-floating
            = select_tag :state_id, options_for_select(Cowin.state_options.invert, @cv&.state_id), id: "state-select", class: "state-selector form-select d-block w-100", required: true
            %label{:for => "state-select"} State
            .invalid-feedback
              Please provide a valid state.
        .col-md-3.mb-3
          .form-floating
            = select_tag :age, options_for_select(Cowin.age_options, @cv&.age), id: "age-select", class: "form-select selectpicker d-block w-100", required: true
            %label{:for => "age-select"} Age
        .col-md-3.mb-3
          .form-floating
            = select_tag :dose, options_for_select(Cowin.dose_options, @cv&.dose), id: "dose-select", class: "form-select selectpicker d-block w-100", required: true
            %label{:for => "dose-select"} Dose
        .col-md-2.mb-2
          .form-floating
            = select_tag :vaccines, options_for_select(Cowin.vaccine_options, (@cv&.vaccines || "")), id: "vaccine-select", class: "form-select", required: true, multiple: "multiple", style: "height: 100px;"
            %label{:for => "vaccine-select"} Vaccine
          .invalid-feedback
            Please select a valid country.
      %br
      = submit_tag("Get Availibility", id: "get-availibility", class: "btn btn-primary btn-block", :type => "submit")
      %a.btn.btn-secondary.btn-block{:href => "https://selfregistration.cowin.gov.in/", :target => "_blank"} Book
    %br
    %hr.mb-4/
  .col-md-12.order-md-2.mb-4.available-districts
    .available-vaccines
    - (@cv&.availability || {}).each do |district, vaccine_center_detail|
      %h4.d-flex.justify-content-between.align-items-center.mb-3
        %span.text-muted= district
      %ul.list-group.mb-3
        - vaccine_center_detail.each do |center, date_detail|
          %li.list-group-item
            %h6.my-0= center
            %ul.list-group.list-group-flush
              - date_detail.each do |date_detail|
                - date_detail.each do |date, detail|
                  - info, count = detail.split('-')
                  %li.list-group-item.d-flex.justify-content-between.align-items-center
                    %small
                      %b= date
                      %small.text-muted= "#{info}"
                    %small.badge.badge-secondary.badge-pill= count

%footer.my-5.pt-5.text-muted.text-center.text-small  
  %small.mb-2
  %ul.list-inline
    %li.list-inline-item
      %small
        %a.text-decoration-none{:href => "https://github.com/raghuboosetty/cowin-vaccine-web", target: "_blank"} Source
    %li.list-inline-item
      %small
        %a.text-decoration-none{:href => "https://raw.githubusercontent.com/raghuboosetty/cowin-vaccine-web/main/LICENSE", target: "_blank"} License
    %li.list-inline-item
      %small
        %a.text-decoration-none{:href => "https://github.com/raghuboosetty", target: "_blank"} Contact
