!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "A quick search of vaccines from all districts in a given state of India. Free from alerts/notifications and audio sounds. Simple and plain search", :name => "description"}/
    %meta{:content => "Vaccine,Cowin,Covaxin,Covishield,Jab,Dose", :name => "keywords"}/
    %meta{:content => "Raghu Boosetty", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Global site tag (gtag.js) - Google Analytics
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=G-6VZ37K4H11"}
    %title Cowin Vaccine Availability Check
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.container
    = yield

:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-6VZ37K4H11');