!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "A quick search of vaccines from all districts in a given state of India. No IP restrictions, should work outside India and with old browsers too", :name => "description"}/
    %meta{:content => "Vaccine,Cowin,Covaxin,Covishield,Jab,Dose", :name => "keywords"}/
    %meta{:content => "Raghu Boosetty", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    %title Cowin Vaccine Availability Check
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.container
    = yield
